<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="experimentId" value="3"/>
    <add key="numRuns" value="5"/>
    <add key="seed" value="0"/>
    <add key="numGenerations" value="100"/>
    <add key="populationSize" value="100"/>
    <add key="datasetnumvars" value="6"/>
    <add key="dataseturl" value="\data1.txt"/>
    <add key="isExpressFitnessAsPercentage" value="true"/>
    <!--A wide variety of parameters work here.
    After trial and error, I found these parameter values to be suitable-->
    <!--<add key="crossoverRate" value="0.5"/>
    <add key="mutationRate" value="0.04"/>-->
    <add key="crossoverRate" value="0.65"/>
    <add key="mutationRate" value="0.03"/>
    <add key="fitnessMethod" value="binaryClassifier"/>
    <add key="trainingFraction" value="0.85"/>
    <!--<add key="datastructure" value="lookup"/>-->
    <add key="datastructure" value="rulebased"/>
    <add key="eps" value="0.000001"/>
  <add key="experimentresultsoutputurl" value="\Experiments"/>
  </appSettings>
</configuration>